<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="${spring.application.name}" />

	<dubbo:registry address="${dubbo.registry.address}" />

	<dubbo:protocol name="dubbo" port="${dubbo.port}" />

	<dubbo:consumer check="false" timeout="1000" mock="return null" default="true" />

	<!-- 引用外部服务 -->
	<dubbo:reference id="helloApi" interface="com.feiniu.api.HelloApi" />

	<!-- 发布服务 -->
	<dubbo:service interface="com.feiniu.api.CustomApi" ref="customApi" />

</beans>